In [1]:
from dash import Dash , html, dcc
import jupyter_dash

In [2]:
app = Dash(external_stylesheets= ['https://codepen.io/chriddyp/pen/bWLwgP.css'])

In [3]:
# app.layout=html.Div(children = [
    
#     html.Div('div1', style={'color': 'blue', 'fontSize': 14}),
#     html.H1('HI Dash' , style={'color': 'Red', 'fontSize': 50}),
#     html.H2('HI again'),
#     html.Div(children = [
#         html.H1('HI Dash' , style={'color': 'Green', 'fontSize': 60}),
#         html.H2('HI Dash' , style={'color': 'Green', 'fontSize': 60})
        
#     ] , style={'background': 'red', 'fontSize': 60})
    
    
    
    
    
    
    
    
    
# ])

In [4]:
import plotly.express as px
import pandas as pd

In [5]:
df = px.data.gapminder()
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [6]:
my_gap_graph = px.scatter(df[df['year']==2007] , x='gdpPercap' , y ='lifeExp' ,
           color ='continent' , size= 'pop',size_max = 40 , hover_name = 'country' )

In [7]:
div2 = px.scatter(df , x='gdpPercap' , y ='lifeExp' ,
           color ='continent' , size= 'pop',size_max = 40 , hover_name = 'country' 
          ,animation_frame = 'year' , title = "Rich vs death"
          ,symbol = 'year' ,  template = 'plotly_dark')

In [8]:
stocs_data = px.data.stocks()
stocs_data

           date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0    2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1    2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2    2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3    2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4    2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708
..          ...       ...       ...       ...       ...       ...       ...
100  2019-12-02  1.216280  1.546914  1.425061  1.075997  1.463641  1.720717
101  2019-12-09  1.222821  1.572286  1.432660  1.038855  1.421496  1.752239
102  2019-12-16  1.224418  1.596800  1.453455  1.104094  1.604362  1.784896
103  2019-12-23  1.226504  1.656000  1.521226  1.113728  1.567170  1.802472
104  2019-12-30  1.213014  1.678000  1.503360  1.098475  1.540883  1.788185

[105 rows x 7 columns]

In [9]:
div3 = px.line(stocs_data,   x = 'date' ,y = ['GOOG'  , 'AMZN'] ,title = "Market Share" , markers = True)

In [10]:
# app.layout=html.Div(children = [
    
#     html.Div(children = [
#         html.Div(dcc.Graph(figure=my_gap_graph) , className = 'five columns', style={'color': 'blue', 'fontSize': 60}),
#         html.Div(dcc.Graph(figure=div2) , className = 'five columns', style={'color': 'blue', 'fontSize': 60}),
#         html.Div(dcc.Graph(figure=div3) , className = 'four columns', style={'color': 'blue', 'fontSize': 60}),
#     ] )
    
    
    
    
    
    
    
    
    
# ])

In [11]:
app.layout=html.Div(children = [
    
    html.Div(children = [
        dcc.Input(id='my_in', value= None , type = 'text'),
        html.Div(id = 'my_div')
        
    ] )
    
    
    
    
    
    
    
    
    
])

In [12]:
from dash.dependencies import Input , Output

In [13]:
@app.callback(
        Output(component_id= 'my_div', component_property = 'children'),
        Input(component_id='my_in' , component_property = 'value')
)
def update_My_Div(input_val):
    if input_val == None or input_val == '':
        return 'hello'
    else:
        return 'Hi {}'.format(input_val)

In [14]:
app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Apr/2022 11:20:11] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:12] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:12] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:13] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:16] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:16] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:16] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:16] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:18] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:18] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:18] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:18] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:20:18] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:23:31] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:23:32] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:23:32] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:23:32] "GET /_favicon.ico?v=2.3.0 HTTP/1.1" 200 -
127.0.0.1 - - [07/Apr/2022 11:23:32] "POST /_dash-update-component HTTP/1.1" 200 -